In [1]:
import pandas as pd 
from sklearn.metrics import classification_report,confusion_matrix

In [2]:
data = pd.read_csv("C:\\Users\\91948\\Downloads\\adult (1).csv")

In [3]:
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [4]:
numerical_variable= data[['age','fnlwgt','education.num','capital.gain','capital.loss',
                          'hours.per.week',]]
categorical_variable= data[['workclass','education','marital.status','occupation','relationship','race',
                           'sex','native.country','income']]

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
#Label Encoding the categorical data to process the categorical data to the model
categorical_variable= categorical_variable.apply(LabelEncoder().fit_transform)

In [7]:
#Preparing the Data for Model
data = pd.concat([numerical_variable, categorical_variable.reset_index(drop=True)], axis=1)

In [8]:
data.head()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
0,90,77053,9,0,4356,40,0,11,6,0,1,4,0,39,0
1,82,132870,9,0,4356,18,4,11,6,4,1,4,0,39,0
2,66,186061,10,0,4356,40,0,15,6,0,4,2,0,39,0
3,54,140359,4,0,3900,40,4,5,0,7,4,4,0,39,0
4,41,264663,10,0,3900,40,4,15,5,10,3,4,0,39,0

In [9]:
set(list(data.income))

{0, 1}

In [10]:
less = len(data[data['income'] == 0])
print(less)
more = len(data[data['income'] == 1])
print(more)

24720
7841

In [11]:
X = data.drop(['income'],axis=1)
y = data.income

#Normal Classifier

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [14]:
model = LogisticRegression().fit(X_train,y_train)

In [15]:
predict = model.predict(X_test)

In [16]:
print(classification_report(predict,y_test))

              precision    recall  f1-score   support

           0       0.97      0.81      0.88      8921
           1       0.26      0.72      0.38       848

    accuracy                           0.80      9769
   macro avg       0.61      0.76      0.63      9769
weighted avg       0.91      0.80      0.84      9769

#Undersampling Techniques

In [17]:
#NearMiss Package: Under Sampling Technique
from imblearn.under_sampling import NearMiss

In [20]:
#Initializing the Nearmiss Classifier
nm1 = NearMiss(version=1)

# Undersampling the data
X_resampled_nm1, y_resampled_nm1 = nm1.fit_resample(X, y)

In [21]:
X_resampled_nm1 = pd.DataFrame(X_resampled_nm1)
y_resampled_nm1 = pd.DataFrame(y_resampled_nm1)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_resampled_nm1,y_resampled_nm1,test_size=0.3)

In [23]:
y_train.rename(columns={0:'Income'},inplace=True)
y_test.rename(columns={0:'Income'},inplace=True)

C:\Users\91948\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [24]:
trainData = pd.concat([X_train,y_train],axis=1)
testData = pd.concat([X_test,y_test],axis=1)

In [25]:
trainData.shape

(10977, 15)

In [26]:
testData.shape

(4705, 15)

In [28]:
Count_less_income_trainData = len(trainData[trainData["income"]==0])
Count_more_income_trainData = len(trainData[trainData["income"]==1])

In [29]:
print("Total Number of less income in Train Data:----------->",Count_less_income_trainData)
print("Total Number of more income in Train Data:------->",Count_more_income_trainData)

Total Number of less income in Train Data:-----------> 5493
Total Number of more income in Train Data:-------> 5484

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

C:\Users\91948\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [32]:
predicted_lr_score = lr.predict(X_test)

In [33]:
from sklearn.metrics import classification_report,confusion_matrix

In [34]:
print(classification_report(predicted_lr_score,y_test))

              precision    recall  f1-score   support

           0       0.87      0.63      0.73      3229
           1       0.50      0.79      0.61      1476

    accuracy                           0.68      4705
   macro avg       0.68      0.71      0.67      4705
weighted avg       0.75      0.68      0.69      4705

In [35]:
confusion_matrix(predicted_lr_score,y_test)

array([[2043, 1186],
       [ 305, 1171]], dtype=int64)

#Over Sampling Techniques

In [40]:
from imblearn.over_sampling import SMOTE

In [41]:
# OverSampling the data
X_resampled_sm, y_resampled_sm = SMOTE().fit_resample(X,y)

In [42]:
X_resampled_sm = pd.DataFrame(X_resampled_sm)
y_resampled_sm = pd.DataFrame(y_resampled_sm)

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_resampled_sm,y_resampled_sm,test_size=0.3)

In [44]:
y_train.rename(columns={0:'Income'},inplace=True)
y_test.rename(columns={0:'Income'},inplace=True)

C:\Users\91948\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [45]:
trainData = pd.concat([X_train,y_train],axis=1)
testData = pd.concat([X_test,y_test],axis=1)

In [46]:
lr= LogisticRegression()
lr.fit(X_train, y_train)

C:\Users\91948\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\91948\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [47]:
predicted_lr_score = lr.predict(X_test)

In [48]:
print(classification_report(predicted_lr_score,y_test))

              precision    recall  f1-score   support

           0       0.73      0.63      0.67      8612
           1       0.57      0.68      0.62      6220

    accuracy                           0.65     14832
   macro avg       0.65      0.65      0.65     14832
weighted avg       0.66      0.65      0.65     14832